@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

html,
body {
  font-family: var(--base-font-Montserrat);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 16px 50px;
  margin: auto;

}

.rec-carousel-wrapper {
  grid-gap: 60px;
  max-width: 1440px;
}

.rec.rec-pagination {
  gap: 12px;

}

@media screen and (max-width: 768px) {
  .rec.rec-pagination {
    display: none;
  }
}

.rec.rec-dot {
  background: #7C7C7C;
  opacity: 0.6;
  width: 8px;
  height: 8px;
}

.rec.rec-dot_active {
  background: var(--secondary);
  opacity: 1;
  outline: none;
  border: none;

  box-shadow: none;
}

.rec.rec-dot_active:focus {
  box-shadow: 0 0 1px 3px rgb(113 124 255);
}

.rec.rec-dot_active:hover {
  box-shadow: 0 0 1px 3px rgb(113 124 255);

}